{% extends 'main/base.html' %}
{% block content %}
<div class="fade_container">
<div class="fade1"></div>
<ul class="chips">
    <li class="chip">All</li>
    <li class="chip">Gaming</li>
    <li class="chip">Live</li>
    <li class="chip">Mixes</li>
    <li class="chip">Music</li>
    <li class="chip">Gyms</li>
    <li class="chip">History</li>
    <li class="chip">Thoughts</li>
    <li class="chip">Humans</li>
    <li class="chip">Comedy</li>
    <li class="chip">Thrillers</li>
    <li class="chip">Physics</li>   
    <li class="chip">Film Criticisms</li>
    <li class="chip">Podcasts</li>
    <li class="chip">Fashion</li>
    <li class="chip">Combat Sports</li>
    <li class="chip">Drawing</li>
    <li class="chip">Tamil Cinema</li>
    <li class="chip">Recently uploaded</li>
    <li class="chip">New to you</li>
</ul>
<div class="fade2"></div>
</div>

<div class="left_btn">
    L
</div>
{% endblock content %}