* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

body {
    overflow-x: hidden;
}


nav.topnav {
    height: 36px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 705px 400px;
    grid-gap: 25px;
    padding: 10px;
    padding-top: 20px;
}

div.left, div.center, div.right {
    text-align: center;
}

.topnav-yt-logo {
    position: relative;
    top: -8px;
}

.topnav-hamburger-icon {
    margin-right: 20px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
}

.topnav-hamburger-icon:hover {
    background-color: #f0f0f0;
}

/* nav.topnav .topnav-search-input {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    border: 1px solid #000;
} */

form.topnav-searchbar-package {
    width: 100%;
    display: inline-block !important;
    height: 56px !important;
}

.topnav-search-focus-indicator {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ccc;
    width: 50px;
    height: 36px;
    margin-top: 0px;
    display: none;
}

.topnav-search-focus-indicator svg {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

input.topnav-search-input {
    border-radius: 40px 0 0 40px;
    caret-color: rgb(0, 0, 0);
    /* margin-left: 32px; */
    padding:0px 4px 0px 16px ;
    position: relative;
    top: -7px;
    background-color: rgb(255, 255, 255);
    /* border:1px solid hsl(0deg 0% 19%); */
    border: 1px solid #ccc;
    color: rgb(0, 0, 0);
    /* box-shadow:inset 0 1px 2px hsl(0deg 0% 0% / 0%); */
    height: 36px;
    width: 518px;
    font-size: 18px;
    margin-right: -5px;
    outline: none;
    position: relative;
    top: 0px;
}

nav.topnav div.center button.topnav-search-icon-btn {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    width: 64px;
    height: 38px;
    margin-top: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: 7px;
}