@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 15px;
}

.left{
    height: 56px;
    width: 100%;
}

.bar{
    height: 24px;
    width: 24px;
    padding: 14px;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.logo{
    height: 56px;
    width: 120px;
    padding: 8px;
    top: 0px;
}
