@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}
body {
 overflow-x: hidden;
 background-color: #0F0F0F;
 height: 0px;
 overflow-y: scroll !important;
 
}
div.left, div.center, div.right {
  text-align: center;
}
.topnav-search-focus-indicator {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ccc;
    width: 50px;
    height: 36px;
    margin-top: 0px;
    display: none;
}

.topnav-search-focus-indicator svg {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.search-bar{
    display: flex;
    margin: 0 0 0 40px;
    padding: 0 4px;
    flex: 1;
    flex-basis: 1e-9px;
    width: 644px;
    height: 40px;
    position: relative;
    align-items: center;
    background-color: hsl(0deg 0% 7%);
    border: 1px solid hsl(0deg 0% 19%);
    border-right: none;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 1px 2px hsl(0deg 0% 0% / 0%);
    color: hsl(0deg 0% 100% / 88%);
    padding: 2px 6px;
    margin-left: 34px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
    border-radius: 40px 0 0 40px;
    caret-color: white;
    margin-left: 32px;
    padding: 0px 4px 0px 16px;
}
input{
    height: 26px;
    width: 519px;
    outline: none;
    box-sizing: border-box;
    padding: 1px 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: inherit;
    font-family: Roboto,Noto,sans-serif;
    font-size: 16px;
}
form{
    width: 680px;
    height: 40px;
    position: relative;
    right: -120px;
    display: flex;
    flex-direction: row;
    border-radius: 40px 0 0 40px;
    caret-color: #f1f1f1;
    margin-left: 32px;
    padding: 0px 4px 0px 16px;
}
.buttons{
  margin-left: 400px;
}
nav.topnav{
    top: 0px;
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index:1;
    background-color: #0F0F0F;
    width: 100%;
}
.ççy{
  margin-top: 150px;
}
.sid
.left-topnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 169px;
    height: 56px;
}
.icons-a{
  height: 40px;
  width: 40px;
}
.mic-a{
  fill: white;
  padding-left: 16px;
  align-content: center;
  display: flex;
  background-color:#181818;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  right: -21px;
}
.mic{
  display: flex;
  align-self: center;
  position: relative;
  right: 8px;
}

yt-button{
    margin: 0px;
    color: #fff;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-right: 8px;
    box-sizing: border-box;
}
.mic-a:hover{
    background-color:#b7b7b725
}
yt-button:hover{
    background-color: #272727;
    border-radius: 50px;
    cursor: pointer;
}

#img{
  border-radius: 15px;
  position: relative;
  top: 5px;
}
.hambutton{
    fill: white;
}
a yt-logo{
    width: 120px;
    height: 56px;
    padding: 0;
    align-items: center;
    flex: none;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-self: center;
}

yt-logo-icon{
    height: 20px;
    width: 90px;
    padding: 18px 14px 18px 16px;
    flex: none;
}
.menu {
    margin: 0.75rem 0;
    list-style: none;
    padding: 0;
}
.menu__link {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 204px;
  height: 40px;
  color: white;
  text-decoration: none;
  font-size: 0.875rem;
  padding: 0px 12px;
  margin: 0px;
}

.menu__link--active {
  font-weight: bold;
  background-color: #272727;
}

.menu__link:hover {
  background-color:#272727;
  border-radius: 15px;

}

.menu__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
}

.menu__title {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding-left: 1.5rem;
  font-weight: 500;
  color: #9D9D9D;
}

.separator {
  width: 100%;
  border: 1px solid #383838;
}

.sub-image {
  width: 24px;
  height: 24px;
}

.sub-image img {
  width: 100%;
  border-radius: 50%;
}

.nav-footer ul {
  list-style: none;
  text-align: left;
  font-size: 0.8125rem;
  line-height: 1.2rem;
  padding: 0 1.5rem;
  margin-bottom: 1.5rem;
}

.nav-footer a {
  color: #9D9D9D;
  text-decoration: none;
  font-weight: 500;
}

.nav-footer p {
  font-size: 0.8125rem;
  color: #6F6F6F;
  font-weight: 500;
  padding: 0 1.5rem 1rem 1.5rem;
}

.side-bar{
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: -100px;
}
.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  width: 100%;
  height: 3.5rem;
  background-color: #202020;
}

.nav-menu {
  width: 15rem;
  background-color:#0F0F0F;
  overflow-y: scroll;
  position: fixed;
  height: calc(100vh - 3.5rem);
  top: 3.5rem;
  z-index: 5;
  left: -15rem;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-menu:hover{
overflow-y:scroll ;
}

.default_sidebar {
    width: 55px;
    height: 100%;
    background-color: #0f0f0f;
}

.default-sidebar-btn {
    width: 55px;
    height: 84px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0f0f0f;
    /* margin-bottom: 10px; */
}

.yt-icon {
    fill: #fff;
}


.resize{
  fill: white;
}
.details{
  display: flex;
  margin: 0px;
  position: relative;
  cursor: pointer;
  flex: auto;
  flex-direction: row;
}
.topnav-search-icon-btn{
    border: 1px solid hsl(0deg 0% 19%);
    background-color:hsl(0deg 0% 100% / 8%);
    cursor: pointer;
    height: 42px;
    width: 1800px;
    margin: 0;
    fill: white;
    border-top-right-radius: 35px;
    border-bottom-right-radius:35px;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
background: #0F0F0F;
}

::-webkit-scrollbar-thumb{
  background:rgb(158, 158, 158);
  border-radius: 10px;
}
.right-icons{
  fill: white;
  height: 24px;
  width: 24px;
  align-items: center;
}
.thumbnail{
    height: 166px;
    width: 295px;
    border-radius: 20px;
}
.avatar-link{
  height: 36px;
  margin-top: 12px;
  margin-right: 12px;
  border-radius: 20px;
}
.title-info{

  padding-right: 24px;
  /* padding-bottom: -40px; */
  margin-bottom: -20px;
}
.font-title{
  color: white;
  margin: 12px 0 4px 0;
  margin-bottom: 6px;
  height: 40px;
  width: 224px;
  font-size: 16px;
}

.video-body {
  width: 80%;
  margin-top: -50px;
}

.videos {
  padding-left: 160px;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin-top: 50px;
  width: 90%;
  grid-column-gap: -50px;
  grid-row-gap: 30px;
  margin-top: 50px;
  
}

.video {
  scale: 0.9;
}
.nav-bar{
  width: 100%;
  background-color: #0f0f0f;
}