@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 0px;
    font-family: Roboto;
    background-color:  #0F0F0F;
}

.container{
    height: 2132px;
    width: 100%;
    background-color:#0F0F0F;
    display: flex;
    position: absolute;
    top: 56px;
    
}
.main-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
}
.part-1{
    padding-top: 24px;
    padding-right: 24px;
    height: fit-content;
    width: 884.61px;
    display: flex;
    position: relative;
    bottom: 300px;
}


div{
    display: block;
}
.inner-part-1{
    width: 884.61px;
    height: fit-content;
    background-color: #0F0F0F;
    flex: 1;
    flex-basis: 1e-9px;
}
.player{
    height:497.59px;
    width:884.61px;
}
img{
    height:497.59px;
    width:884.61px;
}
.below{
    height: fit-content;
    width: 884.61px;
}

.nav-bar{
    height: 56px;
    width: 1530px;
    background-color: white;
    position: fixed;
    overflow-x: visible ;
    overflow-y: visible;
    ruby-position: over;
}
.main-data{
    margin-top:12px ;
    margin-bottom: 24px;
    display: block;
    color: white;
}
.main-data-container{
    color: white;
}
h1{
    font-size: 20px;
    font-family: Roboto;

}
.top-row{
    display: flex;
    margin-top: -4px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.owner{
    width: 400px;
    margin-left: 8px;
    margin-top: 8px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: row;
    color: white;
    width: 195.93px;
    height: 42px;
}
.logo-img{
    height:40px;
    width: 40px;
    border-radius: 20px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-logo-name{
    display: flex;
    flex-direction: row;
}
.subscribers{
    display: flex;
    color: gray;
    font-size: 13px;
}
.name{
    display: flex;
    flex-direction: row;
    
}
.name-subs{
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    width: 100px;
    height: 42.4px;
}
.namee{
    display: flex;
    flex-direction: row;
}
.sub-btn{
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 0 16px;
    font-size: 14px;
    border-radius: 18px;
    line-height: 18px;
    height: 36px;
    width: 94.56px;
    border: none;
}
::-webkit-scrollbar{
    width:8px;
  }
  
  ::-webkit-scrollbar-track{
  background: #0F0F0F;
  }
  
  ::-webkit-scrollbar-thumb{
    background:rgb(158, 158, 158);
    border-radius: 10px;
  }
.verifi{
    width: 14px;
    height: 14px;
    fill: gray;
    margin-left: 5px ;
}

.btnn{
    height: 30px;
    width: 30px;
}

.btnns{
    background-color:#2D2E2F ;
    height: 30px;
    width: 80.75px;
    border: none;
    color: white;
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
}
.btnns-2{
    background-color:#2D2E2F ;
    height: 30px;
    width: 80.75px;
    border: none;
    color: white;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
}
.part-2{
    padding-top: 24px;
    padding-right: 24px;
    display: flex;
}
.inner-part-2{
    height: fit-content;
    width: 402px;
}
.inner-items{
    height: fit-content;
    width: 402px;
}
.inner-item-1{
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
}
.inner-item{
    height: 94px;
    width: 402px;
    display: flex;
}
.thumbnails{
    background-color: transparent;
    height: 94px;
    width:168px ;
    object-fit: cover;
    border-radius: 5px;
}
.inner-item-thumbnail{
    width: 168px;
    height: 94px;
    margin-right: 8px ;
    display: block;
}
.inner-item-title{
    height: 94px;
    width: 226px;
}
.inner-item-title-1{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-right: 24px;
}
.thumb-title{
    font-size: 14px;
    margin-bottom: 4px;
}
.thumb-channel-name{
    display: block;
    -webkit-box-orient: vertical;
    word-break: break-word;
    font-size: 12px;
    color: #AAAAAA;
    font-weight: lighter;
}
.thumb-bottom{
    display: flex;
    flex-direction: row;
    width: 88.61px;
    height: 18px;
    align-items: center;
    margin-bottom: 5px;
}
.thumbnail-bottom-last{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    color: #AAA;
    font-weight: lighter;
}
.views{
    margin-right: 4px
}
.bottom-row{
    height: 116px;
    width: 896.61px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.description{
    cursor: pointer;
    height:104px ;
    width: 872.61px;
    background-color: #272727;
    border-radius: 14px;
    margin-top: 12px;
    margin-right: 12px;

}
.description-inner{
    margin: 12px;
}
.d-info{
    font-size: 24px;
    font-weight: bold;
    color: #F1F1F1;
}

.d-main{
    display: flex;
    flex-direction: row;
}
.show-more{
    align-self: end;
    margin-left: 200px;
}
.show-more-main{
    background-color: transparent;
    border: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.comment-section{
    background-color: #0F0F0F;
    display: block;
    width:884.61px;
    height: fit-content;
}

.comment-section-header{
    height: 87.4px;
    background-color: #0F0F0F;
}
.comment-section-inner-header{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 32px;
    height: 87.4px;
}
.inner-header-title{
    display: flex;
    flex: row;
    margin-bottom: 24px;
    align-items: center;
}
.comment-count{
    margin: 0 32px 0 0;
    display: inline-block;
}
.sort-by-svg{
    fill: white;
    height: 24px;
    width: 24px;
}
.comment-sort-by{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.sort-by{
    font-size: 15px;
    font-weight:200;
}
.count{
    font-size: 15px;
    font-weight: 400;
}
.inner-header-comment-box{
    height: 40px;
}
.inner-comment-box{
    display: flex;
    flex-direction: row;
    margin-right: 16px;
    flex-wrap: wrap;
    align-items: center;
}
.avatar-main{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar{
    margin-right: 16px;
}
.comment-box{
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255,255, 255,0.2);
}

.comment{
    background-color: transparent;
    border: none;
    width: 781.33px;
    height: 24.8px;
    color: white;
}
.actions{
    height: 40px;
    width: 420.66px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top:16px ;
}

.inner-actions{
    width: 420.66px;
    height: 36px;
    display: flex;
}
.menu{
    display: flex;
    flex-direction: row;
    width: 420.66px;
}
.actions-dot{
    fill: white;
    height: 24px;
    width: 24px;
}
.last-btn{
    height: 36px;
    width: 36px;
    background-color:#272727;
    border: none;
    border-radius: 50%;
    margin-left: 8px;
    cursor: pointer;
}
.download-btn{
    height: 36px;
    width: 118.34px;
    border-radius:25px;
    background-color: #272727;
    border: none;
    color: white;
    display: flex;
    font-size: 22px;
    align-items:center;
    padding-left: 8px;
    margin-left: 8px;
    cursor: pointer;
    font-weight: lighter;
}
.share{
    width: 92.11px;
    height: 36px;
    background-color: #272727;
    border: none;
    color: white;
    display: flex;
    font-size: 22px;
    align-items:center;
    padding-left: 8px;
    margin-left: 8px;
    cursor: pointer;
    font-weight: lighter;
    border-radius: 25px;
}
.inner-actions-1{
    display: flex;
}
.inner-actions-1 button h6{
    padding-left: 4px;
}