* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #0F0F0F;
}


nav.topnav {
    height: 36px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 705px 400px;
    grid-gap: 25px;
    padding: 10px;
    padding-top: 20px;
}

div.left, div.center, div.right {
    text-align: center;
}

.topnav-yt-logo {
    position: relative;
    top: -8px;
}

.topnav-hamburger-icon {
    margin-right: 20px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
}

.topnav-hamburger-icon:hover {
    background-color: #f0f0f0;
}

.topnav-search-focus-indicator {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #ccc;
    width: 50px;
    height: 36px;
    margin-top: 0px;
    display: none;
}

.topnav-search-focus-indicator svg {
    position: relative;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.search-bar{
    height: 40px;
    width: 540px;
}
input{
    width: 515px;
    height: 22px;

}
form{
    width: 572px;
    height: 40px;
    position: relative;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
}
nav.topnav div.center button.topnav-search-icon-btn {
    background-color: #222222;
    border: 1px solid #ccc;
    width: 64px;
    height: 38px;
    margin-top: -10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    top: 7px;
    fill: white;
}